@import "base";

body {
    color:#fff;
    background: #222;
}

$galleryDuration: 14s;

@include keyframes(rotateModal){
    0%{
        @include opacity(0);
        @include transform(translateX(-50%) translateY(-50%) scale(0.9) translate3d(0,0,0));
    }
    5%{
        @include opacity(0);
        @include transform(translateX(-50%) translateY(-50%) scale(0.9) translate3d(0,0,0));
    }
    15%{
        @include opacity(1);
        @include transform(translateX(-50%) translateY(-50%) scale(1) translate3d(0,0,0));
    }
    85%{
        @include opacity(1);
        @include transform(translateX(-50%) translateY(-50%) scale(1) translate3d(0,0,0));
    }
    90%{
        @include opacity(0);
        @include transform(translateX(-50%) translateY(-50%) scale(1.1) translate3d(0,0,0));
    }
    95%{
        @include opacity(0);
        @include transform(translateX(-50%) translateY(-50%) scale(1.1) translate3d(0,0,0));
    }
    100%{
        @include opacity(0);
        @include transform(translateX(-50%) translateY(-50%) scale(0.9) translate3d(0,0,0));
    }
}


section.gallery-holder{
    @extend %absolute-middle;
    background-color:rgba(#000,0.66);
    z-index:2;
    @include outer-container();
    max-width:1000px;
    width:100%;
    color:#fff;
    text-align:left;
    p{
        text-align:left;
    }
    div.image-holder{
        @include span-columns(8);
        margin-bottom:-2px;
        margin-top:0px;
        img{
           width:100%;
        }
    }
    div.content-holder{
        @include span-columns(4);
        position:relative;
        .content{
            @include position(absolute, 40px 20px 40px 0px);
            word-wrap: break-word;
            & > div{
                border-top:2px solid #fff;
                padding-top:20px;
                margin-top:15px;
            }
        }
    }
    svg use{
        fill:#fff;
    }
    header{
        position:relative;
        top:-6px;
        @include clearfix();
        ul{
            @include outer-container();
            margin:20px 0 10px;
        }
        ul li{
            @include span-columns(4);
            display:inline-block;
            font-size:16px;
            font-family:$georgia;
            @include span-columns(4);
            text-align:center;
        }
        svg{
            @include size(15px);
            position:relative;
            top:4px;
            left:-5px;
        }
    }
    h2{
        font-size:28px;
        font-weight:700;
    }
    p{
        font-size:16px;
        margin-bottom:1em;
        line-height:1.375;
        a{
            color:#fff;
        }
        &:first-of-type{
            font-size:1.25rem;
        }
    }
}

@media all and(min-width:1400px){
    section.gallery-holder{
        max-width:1200px;
        h2{
            font-size:32px;
        }
        p,header ul li{
            font-size:18px;
        }
        header svg{
            @include size(17px);
        }
    }
}

@media all and(min-width:1600px){
    section.gallery-holder{
        max-width:1400px;
    }
}



@include keyframes(rotateBG){
    0%{
        @include opacity(0);
        @include blur(100px);
        background-size:105%;
        @include transform(translate3d(0,0,0));
    }
    5%{
        @include opacity(0);
        @include blur(100px);
        background-size:105%;
        @include transform(translate3d(0,0,0));
    }
    15%{
        @include opacity(1);
        @include blur(45px);
        background-size:105%;
        @include transform(translate3d(0,0,0));
    }
    85%{
        @include opacity(1);
        @include blur(45px);
        background-size:130%;
        @include transform(translate3d(0,0,0));
    }
    90%{
        @include opacity(0);
        @include blur(100px);
        background-size:130%;
        @include transform(translate3d(0,0,0));
    }
    95%{
        @include opacity(0);
        @include blur(100px);
        background-size:130%;
        @include transform(translate3d(0,0,0));
    }
    100%{
        @include opacity(0);
        @include blur(100px);
        background-size:105%;
        @include transform(translate3d(0,0,0));
    }
}

.background-image{
    @include position(fixed, 0px 0px 0px 0px);
    z-index:1;
    background-size:120%;
    background-repeat:no-repeat;
    background-position:center;
    @include blur(45px);
}

body.ready{
    section.gallery-holder{
        @include animation(rotateModal $galleryDuration linear infinite);
    }
    .background-image{
        @include animation(rotateBG $galleryDuration linear infinite);
    }
}

.hh-logo{
    svg{
        @include size(5vw);
        @extend %absolute-middle;
    }
    svg path{
        fill:#fff;
    }
}

.loading-screen .hh-logo:after{
    content:"Now loading";
    display:block;
    width:100%;
    color:#fff;
    font-size:1.5vw;
    font-family:$georgia;
    font-style: italic;
    text-align:center;
    @include position(absolute, 56.75% 0px auto 0px);
}